@font-face{
	font-family: "Raleway-Light";
	src: url("../fonts/Raleway/Raleway-Light.ttf");
}

@font-face{
	font-family: "Raleway-Regular";
	src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

@font-face{
	font-family: "Raleway-Thin";
	src: url("../fonts/Raleway/Raleway-Thin.ttf");
}

@font-face{
	font-family: "Philosopher";
	src: url("../fonts/Philosopher/Philosopher-Regular.ttf");
}

@font-face{
	font-family: "Font-Awesome";
	src: url("C:\Users\honey\Desktop\MyProjects\promalpufa\promalpufa\app\fonts\fontawesome-free-5.11.1-web\webfonts");
}


