.main-head {
  display: inline-block;
  min-height: 620px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color: white; }

.top-line {
  padding-top: 15px;
  min-height: 160px;
  font-family: Raleway; }

.row {
  line-height: 18px; }

.logo img {
  width: 100px;
  height: 100px;
  opacity: 0.8; }

.top-line-right {
  position: relative;
  right: 0px; }

.description {
  margin: auto;
  margin-left: 0px; }

.logo img {
  margin-right: 0px;
  position: relative; }

.top-line-right {
  margin: auto;
  margin-right: 0px;
  text-align: right;
  left: -55px; }

.top-line-right .number_phone {
  position: relative;
  font-family: Philosopher; }
  .top-line-right .number_phone .fas {
    margin-right: 5px;
    font-size: 14px;
    opacity: 0.8; }

.vertical-line {
  width: 1px;
  height: 620px;
  background-color: white;
  right: 0px;
  position: absolute;
  right: 85px;
  top: 0px;
  background: rgba(255, 255, 255, 0.17); }
  .vertical-line .contacts {
    position: relative;
    top: 200px;
    position: relative;
    left: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    width: 45px;
    height: 45px;
    font-size: 30px; }
    .vertical-line .contacts .whats-app {
      position: relative;
      background: rgba(255, 255, 255, 0.17);
      border-radius: 50%; }
    .vertical-line .contacts .instagram {
      position: relative;
      top: 10px;
      background: rgba(255, 255, 255, 0.17);
      border-radius: 50%; }

.title-rectangle {
  position: relative;
  top: 70px;
  left: 320px;
  width: 100%; }

.main-title {
  position: absolute;
  top: 25px;
  left: 70px;
  width: 100%;
  font-family: Raleway-Thin; }

.main-title span {
  color: #fff;
  font-size: 50px;
  line-height: 55px;
  padding: 10px; }

.text-underline-main-title {
  margin-top: -25px;
  margin-left: 60px;
  width: 100%;
  font-family: Raleway-Light;
  font-size: 13px;
  text-align: center;
  padding: 10px; }
