.main-head {
  display: inline-block;
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  -webkit-background-size: cover; }
  .main-head .top-line {
    position: absolute;
    width: 100%;
    padding-top: 15px;
    min-height: 100px;
    font-family: Raleway-Light;
    z-index: 1; }
    .main-head .top-line .row {
      font-size: 14px; }
      .main-head .top-line .row .top-line-left {
        display: inline-block; }
        .main-head .top-line .row .top-line-left .logo {
          float: left;
          line-height: 100px; }
          .main-head .top-line .row .top-line-left .logo img {
            margin-right: 0px;
            position: relative;
            width: 100px;
            height: 100px;
            opacity: 0.7; }
        .main-head .top-line .row .top-line-left .description {
          float: right;
          line-height: 100px;
          white-space: nowrap; }
      .main-head .top-line .row .top-line-right {
        position: relative;
        right: 0px;
        margin: auto;
        margin-right: 0px;
        text-align: right;
        left: -55px; }
        .main-head .top-line .row .top-line-right .number_phone {
          position: relative;
          font-family: Philosopher-Italic;
          white-space: nowrap; }
          .main-head .top-line .row .top-line-right .number_phone .fas {
            margin-right: 5px;
            font-size: 14px;
            opacity: 0.8; }

.header-social {
  position: absolute;
  width: 60px;
  height: 100%;
  display: flex;
  right: 0px;
  top: 0px;
  border-left: rgba(255, 255, 255, 0.17) 1px solid; }
  .header-social .soc {
    position: relative;
    top: 220px;
    text-align: center;
    line-height: 40px;
    width: 50px;
    height: 100px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto; }
    .header-social .soc ul {
      width: 40px;
      height: 100px; }
    .header-social .soc ul, .header-social .soc li {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      .header-social .soc ul a, .header-social .soc li a {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition: background-color .25s ease;
        cursor: pointer;
        z-index: 1; }
        .header-social .soc ul a:hover, .header-social .soc li a:hover {
          background-color: rgba(255, 255, 255, 0.1); }
      .header-social .soc ul .instagram, .header-social .soc li .instagram {
        position: relative;
        line-height: 45px;
        background: rgba(0, 0, 0, 0.17); }
      .header-social .soc ul .whats-app, .header-social .soc li .whats-app {
        position: relative;
        top: 20px;
        line-height: 45px;
        background: rgba(0, 0, 0, 0.17); }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

body {
  width: 100%;
  margin: 0px;
    margin-position: fixed; }

.ishome .main-head {
  background-color: #1a1a1a; }

section, header {
  position: relative;
  background-size: cover;
  background-position: center center; }

section {
  background-color: #fff; }

.hamburger {
  position: absolute;
  top: 20px; }
  .hamburger .hamburger-box {
    width: 0px;
    right: -21px;
    opacity: 0.8; }
    .hamburger .hamburger-box .hamburger-inner, .hamburger .hamburger-box .hamburger-inner::after, .hamburger .hamburger-box .hamburger-inner::before {
      border-radius: 0;
      width: 28px;
      height: 3px;
      background-color: white; }

.hamburger.hamburger--collapse {
  display: flex;
  position: absolute;
  right: 20px;
  top: 35px;
  height: 50px;
  width: 60px; }

h1, h2 {
  text-transform: uppercase; }

.header-flex {
  display: flex;
  height: 250px;
  position: relative;
  top: 200px; }
  .header-flex .flex-center {
    margin: auto; }
    .header-flex .flex-center .header-composition {
      text-align: center;
      position: relative; }
      .header-flex .flex-center .header-composition .header-rectangle {
        width: 450px;
        height: 120px;
        border: 1px solid white;
        border-bottom: none; }
        .header-flex .flex-center .header-composition .header-rectangle .h1 {
          text-transform: uppercase;
          font-family: Raleway-Thin;
          line-height: 120px;
          font-size: 53px; }
      .header-flex .flex-center .header-composition .header-rectangle-desc {
        width: 450px;
        height: 40px; }
        .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc {
          width: 450px;
          margin: auto;
          margin-top: -10px;
          display: flex;
          line-height: 17px;
          white-space: nowrap; }
          .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc p {
            margin-right: 20px;
            margin-left: 20px; }
          .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc::before, .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc::after {
            content: '';
            height: 1.5px;
            width: 100%;
            position: relative;
            background-color: white;
            display: inline-block;
            margin-top: 9px; }
      .header-flex .flex-center .header-composition .header-rectangle-write-us {
        width: 450px;
        height: 20px; }
        .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us {
          width: 450px;
          height: 20px;
          margin: auto;
          margin-top: 20px;
          display: flex;
          line-height: 17px;
          white-space: nowrap;
          text-transform: uppercase; }
          .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us p {
            margin-right: 20px;
            margin-left: 20px;
            font-size: 14px;
            font-family: Raleway-Regular; }
          .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us::before, .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us::after {
            content: '';
            height: 1.5px;
            width: 100%;
            position: relative;
            background-color: white;
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto; }
      .header-flex .flex-center .header-composition .header-call-back-box {
        display: block;
        margin-top: 30px;
        width: 100%;
        height: 35px; }
        .header-flex .flex-center .header-composition .header-call-back-box .header-call-back {
          width: 450px;
          height: 35px;
          display: inline-flex;
          justify-content: space-between;
          margin: auto;
          font-size: 13px; }
          .header-flex .flex-center .header-composition .header-call-back-box .header-call-back .header-enter-phone {
            width: 45%;
            height: 100%;
            border: 1px solid #787878;
            line-height: 33px;
            color: #5F5F5F;
            background-color: white;
            text-shadow: 0.3px 0.3px 2px gray; }
          .header-flex .flex-center .header-composition .header-call-back-box .header-call-back .button {
            width: 45%;
            height: 100%;
            border: 1px solid white;
            line-height: 33px;
            background-color: rgba(255, 255, 255, 0.15); }
            .header-flex .flex-center .header-composition .header-call-back-box .header-call-back .button a {
              text-decoration: none;
              color: white; }

p {
  font-size: 14px;
  margin-top: 40px; }

.header-garant {
  position: relative;
  top: 280px;
  height: 50px;
  width: 100%;
  display: flex; }
  .header-garant .section-th {
    width: 100%;
    height: 50px;
    text-align: center; }
    .header-garant .section-th .cardos {
      position: relative;
      width: 800px;
      height: 50px;
      justify-content: space-around;
      display: inline-flex; }
      .header-garant .section-th .cardos .cardo {
        width: 210px;
        display: inline-block;
        font-family: Raleway-Light; }
        .header-garant .section-th .cardos .cardo i {
          float: left;
          line-height: 45px;
          font-size: 20px;
          opacity: 0.8; }

.arrow {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8); }
  .arrow:hover {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8; }

.section-service {
  width: 100%;
  height: 360px; }
  .section-service .service-title-box {
    text-align: center;
    position: relative;
    margin-top: 50px;
    font-family: Raleway-Light; }
    .section-service .service-title-box .service-title a {
      color: #404040;
      text-decoration: none; }
      .section-service .service-title-box .service-title a:hover {
        opacity: 0.7;
        transition: 0.25s; }

.service-flex {
  display: flex;
  width: 100%;
  height: 250px;
  position: relative;
  margin-top: 30px; }
  .service-flex .flex-container {
    display: flex;
    width: 65%;
    height: 200px;
    margin: auto;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center; }
    .service-flex .flex-container .flex-items {
      font-family: Raleway-Regular;
      color: #404040;
      height: 125px;
      width: 25%;
      text-align: center;
      margin-top: 0px; }
      .service-flex .flex-container .flex-items .anim:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
        transition: 0.25s;
        cursor: pointer; }
      .service-flex .flex-container .flex-items .anim i {
        font-size: 28px; }
      .service-flex .flex-container .flex-items .anim p {
        font-size: 17px; }

.section-clients {
  width: 100%;
  height: 550px; }
  .section-clients .clients-title-box {
    position: relative;
    text-align: center;
    margin: auto;
    width: 65%; }
    .section-clients .clients-title-box .clients-title {
      width: 70%;
      display: inline-flex;
      font-family: Raleway-Light; }
      .section-clients .clients-title-box .clients-title:hover {
        opacity: 0.7;
        transition: 0.25s; }
      .section-clients .clients-title-box .clients-title::before, .section-clients .clients-title-box .clients-title::after {
        content: ' ';
        height: 1.5px;
        width: 100%;
        position: relative;
        background-color: #707070;
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto; }
      .section-clients .clients-title-box .clients-title a {
        color: #404040;
        margin-right: 20px;
        margin-left: 20px;
        text-decoration: none; }
      .section-clients .clients-title-box .clients-title p {
        text-transform: none;
        font-size: 19px;
        font-family: Raleway-Regular;
        color: #404040; }
  .section-clients .clients-flex {
    display: flex;
    width: 100%;
    height: 430px;
    position: relative; }
    .section-clients .clients-flex .flex-container {
      display: flex;
      width: 55%;
      height: 430px;
      margin: auto;
      justify-content: space-around;
      flex-flow: row wrap;
      align-items: center; }
      .section-clients .clients-flex .flex-container .flex-items {
        font-family: Raleway-Regular;
        color: #404040;
        height: 135px;
        width: 33%;
        text-align: center;
        margin-top: 0px; }
        .section-clients .clients-flex .flex-container .flex-items .anim {
          height: 100%; }
          .section-clients .clients-flex .flex-container .flex-items .anim .group {
            background: url(../img/Clients/dist/group.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .group:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/group.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }
          .section-clients .clients-flex .flex-container .flex-items .anim .planet {
            background: url(../img/Clients/dist/planet.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .planet:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/planet.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }
          .section-clients .clients-flex .flex-container .flex-items .anim .krono {
            background: url(../img/Clients/dist/krono.png);
            max-width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .krono:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/krono.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }
          .section-clients .clients-flex .flex-container .flex-items .anim .mega {
            background: url(../img/Clients/dist/mega.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .mega:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/mega.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }
          .section-clients .clients-flex .flex-container .flex-items .anim .horse {
            background: url(../img/Clients/dist/horse.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .horse:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/horse.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }
          .section-clients .clients-flex .flex-container .flex-items .anim .salavat {
            background: url(../img/Clients/dist/salavat.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .salavat:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/salavat.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }
          .section-clients .clients-flex .flex-container .flex-items .anim .champ {
            background: url(../img/Clients/dist/champ.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .champ:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/champ.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }
          .section-clients .clients-flex .flex-container .flex-items .anim .bash {
            background: url(../img/Clients/dist/bash.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .bash:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/bash.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }
          .section-clients .clients-flex .flex-container .flex-items .anim .metro {
            background: url(../img/Clients/dist/metro.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain; }
            .section-clients .clients-flex .flex-container .flex-items .anim .metro:hover {
              transition: 0.25s;
              background: url(../img/Clients/dist-color/metro.png);
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain; }

.section-scheme {
  width: 100%;
  height: 400px;
  background-color: #131B23; }
  .section-scheme .scheme-title-box {
    height: 100px; }
    .section-scheme .scheme-title-box .scheme-title {
      margin: auto;
      font-family: Raleway-Light;
      letter-spacing: 1px;
      font-size: 30px;
      line-height: 100px; }
      .section-scheme .scheme-title-box .scheme-title a {
        text-decoration: none;
        color: white; }
        .section-scheme .scheme-title-box .scheme-title a:hover {
          opacity: 0.7;
          transition: 0.25s; }
  .section-scheme .scheme-box {
    width: 100%;
    height: 250px; }
    .section-scheme .scheme-box .flex-container {
      width: 80%;
      height: 100%;
      display: flex;
      margin: auto; }
      .section-scheme .scheme-box .flex-container .flex-items {
        width: 34%;
        height: 100%;
        margin-top: 20px; }
        .section-scheme .scheme-box .flex-container .flex-items .number {
          width: 100%;
          height: 25%;
          color: white;
          font-family: Philosopher;
          text-align: center;
          font-size: 70px;
          line-height: 60px; }
        .section-scheme .scheme-box .flex-container .flex-items .desc {
          width: 80%;
          height: 65%;
          margin: auto;
          margin-top: 40px;
          color: white;
          font-family: Raleway-Light;
          text-shadow: 1px 1px 1px black;
          font-size: 16px;
          text-align: center;
          line-height: 20px;
          letter-spacing: 1px; }

.section-call-back-calc {
  width: 100%;
  height: 120px;
  background-color: #0E111B;
  color: white; }
  .section-call-back-calc .flex-container {
    width: 50%;
    height: 120px;
    margin: auto;
    text-align: center; }
    .section-call-back-calc .flex-container .flex-items {
      margin: auto;
      padding-top: 20px;
      text-align: center;
      letter-spacing: 1px; }
      .section-call-back-calc .flex-container .flex-items .desc {
        font-family: Raleway-Light;
        opacity: 0.9; }
      .section-call-back-calc .flex-container .flex-items .button {
        border: 1px solid white;
        border-radius: 0.2em;
        background-color: rgba(112, 112, 112, 0.5);
        height: 35px;
        line-height: 30px;
        margin: auto;
        width: 20%;
        margin-top: 15px; }
        .section-call-back-calc .flex-container .flex-items .button a {
          opacity: 0.8;
          text-decoration: none;
          color: white; }
        .section-call-back-calc .flex-container .flex-items .button:hover {
          transform: scale(1.02);
          transition: 0.7s easy; }
