/*==============	Desktop First ==============*/
/*Large Device, Wide Screen*/
@media only screen and (max-width: 1200px) {
  .header-garant .section-th .cardos {
    width: 650px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-garant .section-th .cardos {
    max-width: 650px; }
  .service-flex .flex-container .flex-items .anim i {
    font-size: 26px !important; }
  .service-flex .flex-container .flex-items .anim p {
    font-size: 15px !important; }
  .section-clients {
    max-height: 460px;
    margin-top: 30px; }
    .section-clients .clients-flex {
      max-height: 350px; }
      .section-clients .clients-flex .flex-container {
        max-height: 350px; }
        .section-clients .clients-flex .flex-container .flex-items {
          max-height: 100px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-garant .section-th .cardos {
    max-width: 500px; }
    .header-garant .section-th .cardos .cardo p {
      font-size: 11px; }
  .top-line .top-line-left {
    font-size: 12px; }
    .top-line .top-line-left .logo img {
      max-width: 80px;
      max-height: 80px; }
  .top-line .top-line-right {
    font-size: 12px; }
  .section-service {
    max-height: 300px; }
    .section-service .service-title-box {
      margin-top: 40px; }
    .section-service .service-flex {
      margin-top: 10px; }
      .section-service .service-flex .flex-container .flex-items .anim i {
        font-size: 24px !important; }
      .section-service .service-flex .flex-container .flex-items .anim p {
        font-size: 14px !important; }
  .section-clients {
    max-height: 400px;
    margin-top: 0px; }
    .section-clients .clients-flex {
      max-height: 300px; }
      .section-clients .clients-flex .flex-container {
        max-height: 300px; }
        .section-clients .clients-flex .flex-container .flex-items {
          max-height: 90px; } }

/*  */
@media only screen and (max-width: 640px) {
  .header-garant .section-th .cardos {
    max-width: 400px;
    max-height: 30px; }
    .header-garant .section-th .cardos .cardo p {
      font-size: 9px; }
    .header-garant .section-th .cardos .cardo i.fas {
      font-size: 13px;
      line-height: 25px; }
  .header-flex .flex-center .header-composition .header-rectangle {
    max-width: 400px; }
  .header-flex .flex-center .header-composition .header-rectangle-desc {
    max-width: 400px; }
    .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc {
      max-width: 400px; }
  .header-flex .flex-center .header-composition .header-rectangle-write-us {
    max-width: 400px;
    margin-top: 40px; }
    .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us {
      max-width: 400px; }
  .header-flex .flex-center .header-composition .header-call-back {
    max-width: 400px;
    margin-top: 40px !important; }
  .service-flex .flex-container .flex-items .anim i {
    font-size: 24px !important; }
  .service-flex .flex-container .flex-items .anim p {
    font-size: 13px !important; }
  .service-flex .clients-flex {
    max-height: 230px; }
    .service-flex .clients-flex .flex-container {
      max-height: 230px; }
      .service-flex .clients-flex .flex-container .flex-items {
        max-height: 70px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 580px) {
  p {
    font-size: 13px !important; }
  .header-flex {
    top: 170px !important; }
    .header-flex .flex-center .header-composition .header-rectangle {
      max-width: 350px; }
      .header-flex .flex-center .header-composition .header-rectangle .h1 {
        font-size: 45px !important; }
    .header-flex .flex-center .header-composition .header-rectangle-desc {
      max-width: 350px; }
      .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc {
        max-width: 350px; }
    .header-flex .flex-center .header-composition .header-rectangle-write-us {
      max-width: 350px;
      margin-top: 30px; }
      .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us {
        max-width: 350px; }
    .header-flex .flex-center .header-composition .header-call-back {
      max-width: 350px;
      margin-top: 10px !important; }
  .header-social {
    display: none !important; }
  .top-line .top-line-left {
    margin-left: 30px;
    font-size: 11px; }
    .top-line .top-line-left .logo img {
      max-width: 75px;
      max-height: 75px; }
  .top-line .top-line-right {
    margin-right: 25px !important;
    font-size: 11px; }
  .header-garant {
    top: 230px;
    max-height: 100px; }
    .header-garant .section-th {
      max-height: 100px; }
      .header-garant .section-th .cardos {
        max-width: 400px;
        max-height: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        .header-garant .section-th .cardos .cardo {
          justify-content: space-around;
          width: 240px; }
          .header-garant .section-th .cardos .cardo p {
            font-size: 11px; }
            .header-garant .section-th .cardos .cardo p br {
              display: none; }
          .header-garant .section-th .cardos .cardo i.fas {
            font-size: 13px;
            line-height: 25px; }
  .section-service {
    max-height: 290px; }
    .section-service .service-title-box {
      margin-top: 25px; }
      .section-service .service-title-box .service-title a {
        font-size: 25px !important; }
    .section-service .service-flex {
      margin-top: 10px; }
      .section-service .service-flex .flex-container .flex-items .anim i {
        font-size: 21px !important; }
      .section-service .service-flex .flex-container .flex-items .anim p {
        font-size: 10px !important; }
  .section-clients {
    max-height: 300px !important; }
    .section-clients .clients-title-box .clients-title .clients-block a {
      font-size: 25px; }
    .section-clients .clients-flex {
      max-height: 200px !important; }
      .section-clients .clients-flex .flex-container {
        max-height: 200px !important; }
        .section-clients .clients-flex .flex-container .flex-items {
          max-height: 50px !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .main-head {
    max-height: 620px; }
  .top-line .top-line-left .description {
    display: none; }
  .top-line .top-line-left .logo {
    margin-left: 10px; }
  .top-line .top-line-right {
    display: none; }
  .top-line .hamburger {
    margin-right: 20px; }
  .header-flex {
    top: 150px !important; }
    .header-flex .flex-center .header-composition .header-rectangle {
      max-width: 280px; }
      .header-flex .flex-center .header-composition .header-rectangle .h1 {
        font-size: 35px !important; }
    .header-flex .flex-center .header-composition .header-rectangle-desc {
      max-width: 280px; }
      .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc {
        max-width: 280px; }
        .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc p {
          font-size: 10px !important; }
    .header-flex .flex-center .header-composition .header-rectangle-write-us {
      max-width: 280px;
      margin-top: 20px; }
      .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us {
        max-width: 280px; }
        .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us p {
          font-size: 10px !important; }
    .header-flex .flex-center .header-composition .header-call-back {
      max-width: 280px;
      margin-top: 0px !important; }
  .header-garant {
    top: 180px !important; }
    .header-garant .section-th .cardos {
      max-width: 300px !important; }
  .section-service {
    max-height: 240px; }
    .section-service .service-title-box {
      margin-top: 20px; }
    .section-service .service-flex {
      max-height: 200px;
      margin-top: 25px; }
      .section-service .service-flex .flex-container .flex-items {
        max-height: 100px; }
        .section-service .service-flex .flex-container .flex-items .anim i {
          font-size: 19px !important; }
        .section-service .service-flex .flex-container .flex-items .anim p {
          font-size: 8px !important; }
  .arrow {
    display: none; }
  .section-clients {
    max-height: 250px !important; }
    .section-clients .clients-flex {
      max-height: 150px !important; }
      .section-clients .clients-flex .flex-container {
        max-height: 150px !important; }
        .section-clients .clients-flex .flex-container .flex-items {
          max-height: 50px !important; } }

/* Custom, Iphone Retina */
@media only screen and (max-width: 320px) {
  .header-flex {
    top: 120px !important; }
    .header-flex .flex-center .header-composition .header-rectangle {
      max-width: 240px; }
      .header-flex .flex-center .header-composition .header-rectangle .h1 {
        font-size: 30px !important; }
    .header-flex .flex-center .header-composition .header-rectangle-desc {
      max-width: 240px; }
      .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc {
        max-width: 240px; }
        .header-flex .flex-center .header-composition .header-rectangle-desc .header-desc p {
          font-size: 9px !important; }
    .header-flex .flex-center .header-composition .header-rectangle-write-us {
      max-width: 240px;
      margin-top: 10px; }
      .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us {
        max-width: 240px; }
        .header-flex .flex-center .header-composition .header-rectangle-write-us .header-write-us p {
          font-size: 8px !important; }
    .header-flex .flex-center .header-composition .header-call-back-box {
      max-width: 240px;
      margin-top: 40px;
      max-height: 30px; }
      .header-flex .flex-center .header-composition .header-call-back-box .header-call-back {
        max-width: 240px;
        max-height: 30px;
        font-size: 10px !important; }
        .header-flex .flex-center .header-composition .header-call-back-box .header-call-back .header-enter-phone {
          line-height: 29px !important; }
        .header-flex .flex-center .header-composition .header-call-back-box .header-call-back .button {
          line-height: 29px !important; }
  .header-garant {
    top: 140px !important; }
    .header-garant .section-th .cardos {
      max-width: 300px !important; }
      .header-garant .section-th .cardos .cardo {
        max-height: 25px !important; }
  .arrow {
    display: none; }
  .main-head {
    max-height: 510px !important; }
    .main-head .top-line .top-line-left a.logo img {
      max-height: 65px;
      max-width: 65px; } }
