.main-head
	display: inline-block
	height: 700px
	width: 100%
	background-repeat: no-repeat	
	position: relative
	color: white
	-webkit-background-size: cover
	.top-line
		position: absolute
		width: 100%
		padding-top: 15px
		min-height: 100px
		font-family: Raleway-Light
		z-index: 1
		.row
			font-size: 14px
			.top-line-left
				display: inline-block								
				.logo
					float: left
					line-height: 100px
					img
						margin-right: 0px
						position: relative
						width: 100px
						height: 100px
						opacity: 0.7

				.description
					float: right
					line-height: 100px
					white-space: nowrap
			.top-line-right 
				position: relative
				right: 0px
				margin: auto
				margin-right: 0px
				text-align: right
				left: -55px
				.number_phone
					position: relative
					font-family: Philosopher-Italic
					white-space: nowrap
					.fas
						margin-right: 5px
						font-size: 14px
						opacity: 0.8
.header-social
	position: absolute
	width: 60px
	height: 100%
	display: flex
	right: 0px	
	top: 0px
	border-left: rgba(255, 255, 255, 0.17) 1px solid
	.soc
		position: relative
		top: 220px
		text-align: center
		line-height: 40px
		width: 50px
		height: 100px
		font-size: 30px
		margin-left: auto
		margin-right: auto
		ul
			width: 40px
			height: 100px
		ul, li 
			list-style-type: none
			margin: 0px
			padding: 0px
			a
				display: block			
				color: rgba(255, 255, 255, 0.6)
				width: 45px
				height: 45px
				border-radius: 50%
				transition: background-color .25s ease	
				cursor: pointer
				z-index: 1
				&:hover
					background-color: rgba(255, 255, 255, 0.1)
			.instagram
				position: relative
				line-height: 45px
				background: rgba(0, 0, 0, 0.17)	
			.whats-app
				position: relative
				top: 20px
				line-height: 45px
				background: rgba(0, 0, 0, 0.17)
				
					